.demo1 {
    width: 100px;
    height: 100px;
    background: red;
}
.demo2 {
    width: 200px;
    height: 200px;
    background: orange;
    display: box;
    backface-visibility: hidden;
}
.text{
    color: #55a532;
}